
.hidden {
  display: none;
}

/* .group {
  padding: 50px;
} */

#errors {
  font-size: 18px;
  justify-content: center;
  align-items: center;
  background-color: rgb(144, 50, 163);
  border: 1px solid black;
  color: #ffffff;
  }
a {
  color: rgb(217, 255, 0);
  justify-content: center;
  align-items: center;
}
a:visited {
    color:lightgray;
}
div {
  display: flex;
}
/* div .group {
    display: Flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
} */

div .pageActions{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
} 
 div {
  justify-content: center;
  align-items: center;
}

body {
  /* background-color: #8758bd; */
  background-image: url("645.png");
  background-repeat: repeat;
}

header {
  font-size: 12px;
    width: 100%;
    background-color: rgb(144, 50, 163);
    /* background-image: url("jojopattern.jpg"); */
    border: 7px solid black;
    text-shadow: 5px 5px 5px rgb(255, 0, 0);
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

/* .ind-bookmark {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

.btn {
    background-color: rgb(144, 50, 163);
  border: 7px solid black;
  display: inline-block;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
justify-self: center;
text-align: center;   


}

li {
  font-size: 18px;
  background-color: rgb(144, 50, 163);
  border: 7px solid black;
  color: #ffffff;
  font-family: Arial;
  padding: 7px 25px;
  margin: 10px;
  list-style-type: none;
  flex-direction: column;

}
.top-row {
  padding: 25px;
}
.bottom-row {
  padding: 25px;
}

/* .bookmarkButton {
font-weight: 600;
} */

/* .pageActions {
  font-size: 12px;
flex: 2;
    background-color: rgb(144, 50, 163);
    border: 7px solid black;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 7px 25px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px black;
} */

label {
    color: #ffffff;
    padding: 1px;
    background-color: purple
}

/* .ind-bookmark {
    display: flex
} */



html, body {
  max-width: 100%;
  overflow-x: hidden;
}



@media all and (min-width: 600px) {
  header {
    font-size: 22px;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    h1 {
      font-size: 22px;
      justify-content: center;
      align-items: center;
  }

}
